.home_view{
    height: 600px;   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image:
   linear-gradient(to bottom, rgba(0, 0, 240, 0.52), rgba(243, 0, 5, 0.377)),
   url('/bg.jpeg'); 
   background-size: cover;
    color: beige;
}