
.videochoice{
    border: solid 2px grey;
    /*height: 100vh;*/
    background-color: #F4F4FB;

}
.videosbg{
    /*background-color: #FBBB2B;*/
    min-height: 85vh;

    overflow: hidden;
    overflow-y: scroll;
}

.videos{
    margin-top: 3px ;
    width: 100%;
}

.span{
   /*background-color: rgba(216, 240, 238, 0.589);*/
    width: 100%;
    /*color: blue;*/
    position: relative;
}

.play{
    position: relative;
    bottom:0.2rem;
    background-color: #7F7C9B;
    padding: 4px;
    width: 100%;
    margin-left: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out;

}




.play:hover{
    background-color: #FBBB2B;

    /*font-size: 24px;*/

}
.videos{
    padding-top: 3px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
    gap: 0.5rem;
}
.videoplayhere{
    width: 100%;
    height: 26rem;
    border:solid;
    display: none;
}

